<template>
	<div class="home">
		<h1>Authenticated: {{ isAuthenticated }}</h1>
		<h2>{{ message }}</h2>
		<form @submit.prevent="submitLoginForm">
			<label>email</label>
			<input type="text" v-model="email" />
			<label>password</label>
			<input type="text" v-model="password" />
			<button type="submit">submit</button>
		</form>

		<button @click="postSignOut">Sign out</button>

		<button @click="getAuthEndpoint">Get Auth</button>
	</div>
</template>

<script lang="ts">
// @ is an alias to /src
import { Vue, Component } from "vue-property-decorator";
import { namespace } from "vuex-class";
import axios from "axios";

const usersModule = namespace("users");

@Component
export default class Home extends Vue {
	@usersModule.State
	private user!: {};

	@usersModule.Getter
	private isAuthenticated!: string;

	@usersModule.Action
	private postSignIn!: (form: {}) => void;

	@usersModule.Action
	private postSignOut!: () => void;

	name = "";
	email = "";
	password = "";
	message = "";

	submitLoginForm() {
		this.postSignIn({
			email: this.email,
			password: this.password,
		});
	}

	async getAuthEndpoint() {
		try {
			const response = await axios.get("http://localhost:3000/auth");

			this.message = response.data?.message;
		} catch (error) {
			this.message = error.message;
		}
	}
}
</script>
