<template>
	<div id="app">
		<div id="nav">
			<router-link to="/">Home</router-link> |
			<router-link to="/about">About</router-link>
		</div>
		<router-view />
	</div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { namespace } from "vuex-class";
import axios from "axios";
import { MutationTypes } from "@/store/users/types";

const usersModule = namespace("users");

@Component({
	name: "App",
})
export default class App extends Vue {
	@usersModule.Mutation
	private [MutationTypes.SET_USER]!: (user: {}) => void;

	created() {
		const user = localStorage.getItem("_user");
		const token = localStorage.getItem("_auth");

		if (user) {
			this[MutationTypes.SET_USER](JSON.parse(user));
		}

		if (token) {
			axios.defaults.headers.common["Authorization"] = token;
		}
	}
}
</script>

<style lang="scss">
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

#nav {
	padding: 30px;

	a {
		font-weight: bold;
		color: #2c3e50;

		&.router-link-exact-active {
			color: #42b983;
		}
	}
}
</style>
